In [1]:
import sqlite3
from sqlite3 import Error
import pandas as pd
import numpy as np

# Create a new database

In [2]:
# Database Path object for easier calling
db_path = r"db\Danny_Diner.db"

In [3]:
# Create a new database file

def create_database(db_file):
    """ create a database connection to a SQLite database """
    conn = None
    # connect to database file
    try:
        conn = sqlite3.connect(db_file)
        print(f'sqlite3 version: {sqlite3.version}')
        print('Created Database')
    # print error if connection can not be established
    except Error as error:
        print(error)
        print('Could not create Database')
    # close connection
    finally:
        if conn:
            conn.close()
    

# run the above function (save database file to path)
if __name__ == '__main__':
    create_database(db_path)

sqlite3 version: 2.6.0
Created Database

# Create Tables

In [128]:
# function for establish connection to SQLite3 for editing database

def establish_connection(db_file):
    """ 
    creates a database connection to a SQLite database file
    
    :returns: Connection object or None
    """
    conn = None
    # connect to database file
    try:
        conn = sqlite3.connect(db_file)
        print(f'sqlite3 version: {sqlite3.version}')
        print('Connected to Database path')
    # print error if connection can not be established
    except Error as error:
        print(error)
        print('Could not create Database')
    
    return conn

In [129]:
conn = establish_connection(db_path)

sqlite3 version: 2.6.0
Connected to Database path

In [130]:
# function for creating table in database

def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    print('Creating tables')
    try:
        # make object cursor from connect
        c = conn.cursor()
        # from cursor use execute to create table
        c.execute(create_table_sql)
    except Error as error:
        print(error)

In [135]:
# Create database schema

def main():
    
    sql_create_table_sales = """
                                CREATE TABLE IF NOT EXISTS sales(
                                                                 idx INTEGER PRIMARY KEY AUTOINCREMENT,
                                                                 customer_id VARCHAR(1),
                                                                 order_date DATE,
                                                                 product_id INTEGER,
                                                                 FOREIGN KEY (customer_id) REFERENCES members (customer_id)
                                                                 FOREIGN KEY (product_id) REFERENCES menu (product_id)
                                                                 );"""
    sql_create_table_menu = """
                               CREATE TABLE IF NOT EXISTS menu(
                                                               product_id INTEGER PRIMARY KEY NOT NULL,
                                                               product_name VARCHAR(5),
                                                               price INTEGER,
                                                               FOREIGN KEY (product_id) REFERENCES sales (product_id)
                                                                 );"""
    sql_create_table_members = """
                                  CREATE TABLE IF NOT EXISTS members(
                                                                     customer_id VARCHAR(1) PRIMARY KEY NOT NULL,
                                                                     join_date DATE,
                                                                     FOREIGN KEY (customer_id) REFERENCES sales (customer_id))
                            ;"""

    # create a database connection
    

    # create tables
    if conn is not None:
        # create sales table
        create_table(conn, sql_create_table_sales)
        create_table(conn, sql_create_table_menu)
        create_table(conn, sql_create_table_members)
        print("Created tables")
    else:
        print("Error! cannot create the database connection.")
        
    

    
if __name__ == '__main__':
    main()

Creating tables
Creating tables
Creating tables
Created tables

# Insert data into Tables

In [171]:
conn = establish_connection(db_path)

sqlite3 version: 2.6.0
Connected to Database path

In [172]:
sales_values =     [('A', '2021-01-01', 1),
                    ('A', '2021-01-07', 2),
                    ('A', '2021-01-09', 2),
                    ('A', '2021-01-09', 3),
                    ('A', '2021-01-11', 3),
                    ('A', '2021-01-12', 3),
                    ('B', '2021-01-02', 2),
                    ('B', '2021-01-04', 2),
                    ('B', '2021-01-09', 1),
                    ('B', '2021-01-11', 1),
                    ('B', '2021-01-16', 3),
                    ('B', '2021-02-01', 3),
                    ('C', '2021-01-07', 3),
                    ('C', '2021-01-17', 3),
                    ('C', '2021-01-28', 3)]
sales_table = pd.DataFrame(data=sales_values,columns=["customer_id", "order_date", "product_id"])
display(sales_table)
sales_table.to_sql('sales',sqlite3.connect(db_path), if_exists='replace')

   customer_id  order_date  product_id
0            A  2021-01-01           1
1            A  2021-01-07           2
2            A  2021-01-09           2
3            A  2021-01-09           3
4            A  2021-01-11           3
5            A  2021-01-12           3
6            B  2021-01-02           2
7            B  2021-01-04           2
8            B  2021-01-09           1
9            B  2021-01-11           1
10           B  2021-01-16           3
11           B  2021-02-01           3
12           C  2021-01-07           3
13           C  2021-01-17           3
14           C  2021-01-28           3

In [173]:
# # functions for inserting new data into tables in database

# def insert_into_sales_tables(conn,sales_values):

#     sql_insert_statement_sales = """ 
#                                     INSERT into sales
#                                         (customer_id, order_date, product_id)
#                                     VALUES
#                                         (?, ?, ?)
#                                         ;"""
#     cur = conn.cursor()
#     cur.execute(sql_insert_statement_sales, sales_values)
#     conn.commit()
    

# def main1():
    
    
#     sales_values = [('A', '2021-01-01', 1),
#                     ('A', '2021-04-07', 2),
#                     ('A', '2021-01-09', 2),
#                     ('A', '2021-01-10', 3),
#                     ('A', '2021-01-11', 3),
#                     ('A', '2021-01-12', 3),
#                     ('B', '2021-01-02', 2),
#                     ('B', '2021-01-04', 2),
#                     ('B', '2021-01-09', 1),
#                     ('B', '2021-01-11', 1),
#                     ('B', '2021-01-16', 3),
#                     ('B', '2021-02-01', 3),
#                     ('C', '2021-01-07', 3),
#                     ('C', '2021-01-17', 3),
#                     ('C', '2021-01-28', 3)]
    
    
    
#     # insert data
#     with conn:
#         for x in sales_values:
#             insert_into_sales_tables(conn, x)
            
#     print("Successfully inserted new anime data into table")
    
# if __name__ == '__main__':
#     main1()
#     close_connection(db_path)

In [174]:
menu_values =  [(1, 'sushi', 10),
                (2, 'curry', 15),
                (3, 'ramen', 12)]

menu_table = pd.DataFrame(data=menu_values,columns=["product_id", "product_name", "price"])
display(menu_table)
menu_table.to_sql('menu',sqlite3.connect(db_path), if_exists='replace')

   product_id product_name  price
0           1        sushi     10
1           2        curry     15
2           3        ramen     12

In [175]:
# def insert_into_menu_tables(conn,menu_values):    
#     sql_insert_statement_menu = """                                 
#                                 INSERT or REPLACE INTO menu
#                                     (product_id, product_name, price)
#                                 VALUES
#                                     (?, ?, ?)
#                                     ;"""
#     cur = conn.cursor()
#     cur.execute(sql_insert_statement_menu,menu_values)
#     conn.commit()
# #     return cur.lastrowid

# def main():
    
    
#     menu_values =  [(1, 'sushi', 10),
#                     (2, 'curry', 15),
#                     (3, 'ramen', 12)]
    
    
#     # insert data
#     with conn:
#         for y in menu_values:
#             insert_into_menu_tables(conn, y)
#     print("Successfully inserted new anime data into table")

# if __name__ == '__main__':
#     main()
#     close_connection(db_path)

In [176]:
members_values = [('A', '2021-01-01'),
                  ('B', '2021-01-02'),
                  ('C', '2021-01-07')]

members_table = pd.DataFrame(data=members_values,columns=["customer_id", "join_date"])
display(members_table)
members_table.to_sql('members',sqlite3.connect(db_path), if_exists='replace')

  customer_id   join_date
0           A  2021-01-01
1           B  2021-01-02
2           C  2021-01-07

In [177]:
# def insert_into_members_tables(conn,member_values):
#     sql_insert_statement_members = """                                  
#                                         INSERT or REPLACE INTO members
#                                             (customer_id, join_date)
#                                         VALUES
#                                             (?, ?)

#                                             ;"""
#     cur = conn.cursor()
#     cur.execute(sql_insert_statement_members,member_values)
#     conn.commit()
# #     return cur.lastrowid
    
    
# def main():
    
#     members_values = [('A', '2021-01-01'),
#                       ('B', '2021-01-02'),
#                       ('C', '2021-01-07')]
    
    
    
#     # insert data
#     with conn:
#         for z in members_values:
#             insert_into_members_tables(conn, z)
#     print("Successfully inserted new anime data into table")
        


        

    
    
    
# if __name__ == '__main__':
#     main()
#     close_connection(db_path)

# Close connection

In [178]:
# close connection to database

def close_connection(db_file):
    try:
        conn = sqlite3.connect(db_file)
        conn.close()
        print('Connection successfully closed')
    except Error as error:
        print(error)
        print('Could not close connection')
# run the above function (save database file to path)
if __name__ == '__main__':
    close_connection(db_path)

Connection successfully closed

# Querying data with conditions and save to Pandas Dataframe

In [4]:
conn = sqlite3.connect(db_path)

                            Case Study Questions
Each of the following case study questions can be answered using a single SQL statement:

1)  What is the total amount each customer spent at the restaurant?

2)  How many days has each customer visited the restaurant?

3)  What was the first item from the menu purchased by each customer?

4)  What is the most purchased item on the menu and how many times was it purchased by all customers?

5)  Which item was the most popular for each customer?

6)  Which item was purchased first by the customer after they became a member?

7)  Which item was purchased just before the customer became a member?

8)  What is the total items and amount spent for each member before they became a member?

9)  If each $1 spent equates to 10 points and sushi has a 2x points multiplier - how many points would each customer have?

10) In the first week after a customer joins the program (including their join date) they earn 2x points on all items, not just sushi 
    -How many points do customer A and B have at the end of January?

In [31]:
display("Sales Table",pd.read_sql_query("""SELECT * from sales;""", conn))


display("Menu Table",pd.read_sql_query("""SELECT * from menu;""", conn))


display("Members Table",pd.read_sql_query("""SELECT * from members;""", conn))

'Sales Table'

    index customer_id  order_date  product_id
0       0           A  2021-01-01           1
1       1           A  2021-01-07           2
2       2           A  2021-01-09           2
3       3           A  2021-01-09           3
4       4           A  2021-01-11           3
5       5           A  2021-01-12           3
6       6           B  2021-01-02           2
7       7           B  2021-01-04           2
8       8           B  2021-01-09           1
9       9           B  2021-01-11           1
10     10           B  2021-01-16           3
11     11           B  2021-02-01           3
12     12           C  2021-01-07           3
13     13           C  2021-01-17           3
14     14           C  2021-01-28           3

'Menu Table'

   index  product_id product_name  price
0      0           1        sushi     10
1      1           2        curry     15
2      2           3        ramen     12

'Members Table'

   index customer_id   join_date
0      0           A  2021-01-01
1      1           B  2021-01-02
2      2           C  2021-01-07

1) What is the total amount each customer spent at the restaurant?

In [6]:

df_total_customer_spent = pd.read_sql_query("""SELECT members.customer_id, sum(menu.price) total_spending
                                               from members 
                                               left join sales on members.customer_id = sales.customer_id
                                               inner join menu on sales.product_id = menu.product_id
                                               group by members.customer_id
                                               ;""", conn)
                                               
df_total_customer_spent

  customer_id  total_spending
0           A              76
1           B              74
2           C              36

2) How many days has each customer visited the restaurant?

In [7]:
df_customer_total_visits = pd.read_sql_query("""
                                                SELECT m.customer_id, count(distinct s.order_date)
                                                from members m
                                                left join sales s on m.customer_id = s.customer_id
                                                group by m.customer_id
                                                ;""", conn)
df_customer_total_visits

  customer_id  count(distinct s.order_date)
0           A                             5
1           B                             6
2           C                             3

3) What was the first item from the menu purchased by each customer?

In [22]:
first_purchase_by_customer = pd.read_sql_query("""select sales.customer_id, menu.product_name,sales.order_date
                                                  from sales
                                                  inner join menu on sales.product_id = menu.product_id
                                                  group by sales.customer_id
                                                  order by sales.order_date asc
                                                  ;""", conn)
first_purchase_by_customer

  customer_id product_name  order_date
0           A        sushi  2021-01-01
1           B        curry  2021-01-02
2           C        ramen  2021-01-07

4) What is the most purchased item on the menu and how many times was it purchased by all customers?

In [28]:
total_purchases_by_product = pd.read_sql_query("""
                                                  select m.product_name,Count(s.product_id) total_purchases
                                                  from sales s
                                                  left join menu m 
                                                      on s.product_id = m.product_id
                                                  group by m.product_name
                                                  order by total_purchases desc
                                                  """,conn)
total_purchases_by_product

  product_name  total_purchases
0        ramen                8
1        curry                4
2        sushi                3

5) Which item was the most popular for each customer?

In [ ]:
most_popular_by_customer = pd.read_sql_query("""
                                                select customer_id, product_name,Count(s.product_id) total_purchases
                                                from
                                                inner join
                                                    on
                                                group by customer_id
                                                order by total_purchases desc
                                                """)

most_popular_by_customer